<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>EDU UP 📚</strong> - Power Education By Creating Community</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/users/sign_up">Sign up</a>
            <a href="/users/sign_in">Log in</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>




<section class="banner become-tutor-banner" >
</section>