<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>EDU UP 📚</strong> - Power Education By Creating Community</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/users/sign_up">Sign up</a>
            <a href="/users/sign_in">Log in</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>




<section class="banner become-tutor-banner subbanner" >
<h2 color="white">Assist: Become a Tutor!</h2>
</section>

<div class="inner" id = "assist">
    <header class="align-center">
        <h3>Become a Tutor! (fill out 1 form per class)</h3>
    </header>
    <form method="post" action="#">
        <div class="row uniform">
            <div class="6u$ 12u$(xsmall)">
                <div class="select-wrapper">
                    <select name="subject" id="subject">
                        <option value="">- Select the department for your course -</option>
                        <% @courseAbbreviationsAndNames.each_with_index do |(k, v), index| %>
                            <option value= <%= "#{index}" %> ><%= "#{k}" %></option>
                        <% end %>
                    </select>
                </div>
                <div class="inner"> 
                <input type="number" name="courseNum" id="courseNum" value="" placeholder="Course Number" />
                </div>
            </div>
            <!-- Break -->
            <div class="12u$">
                <input type="text" name="Grade" id="Grade" value="" placeholder="Grade Recieved (Optional)" />
            </div>

            <div class="12u$">
                <input type="text" name="Availability" id="Availability" value="" placeholder="Hours Available per Week" />
            </div>

            <div class="12u$">
                <input type="text" name="Pay" id="Pay" value="" placeholder="Expected Pay per Hour" />
            </div>
            <!-- Break -->
            <input type-"hidden" style="display: none" name="user_id" value= <%= "#{@curr_user_id}" %> />
            <!-- Break -->
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Send Message" /></li>
                    <li><input type="reset" value="Reset" class="alt" /></li>
                </ul>
            </div>
        </div>
    </form>
</div>
