<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>EDU UP 📚</strong> - Power Education By Creating Community</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/users/sign_up">Sign up</a>
            <a href="/users/sign_in">Log in</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>




<section class="banner request-tutor-banner subbanner" >
<h2 color="white">Request</h2>
</section>



 

<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>Find a tutor!</h1>
            
        </header>
    </div>
</section>

<form action="/search" method="POST" role="search" class="">

<div class="container">
  <div class="row">
  	<div class="col-lg-7 col-md-4 col-sm-1 col-xs-1">		
	</div>
    <div class="col-lg-3 col-md-4 col-sm-7 col-xs-7">		
		<input id="search-bar" type="text" aria-label="Search">	
	</div>
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
		<button type="submit" class="button special icon fa-search" id="search-button">
			Search
		</button>
		
	</div>
	
  </div>
  
</div>
</form>



<div class="row gallery">
	
	<% @tutors.each do |tutor| %>
	<div class="col-lg-3 col-md-4 col-sm-6 gallery-box card">
		
		<div class="card-body">
			<div class="card-title"><h5><%= tutor.subject + " " + tutor.number %></h5></div>
			<div class="card-content">
				
				<p>
				<h5>Grade received by tutor (optional):</h5><%= tutor.grade %><br>
				
                <h5>Number of hours willing to tutor:</h5><%= tutor.availability %><br>
				
				<h5>Desired pay range:</h5><%= tutor.pay %><br>
				</p> 
			</div>
			<div class="card-button">
				<a href="/projects/{{$project->id}}" class="button">Connect me!</a>
			</div>
			
			
		</div>
	</div>
		
	<% end %>
	
</div>






